<div class="abs window_inner">
    <div class="window-top">
        <span class="float_left">
            <img src="{{windowIcon}}" />
            {{windowTitle}}
        </span>
        <span class="float_right">
            <div href="#" class="window-min"></div>
            <div href="#" class="window-resize"></div>
            <div id="{{windowId}}" class="window-close"></div>
        </span>
    </div>
    <div class="abs window_content">
        <!-- <div class="window_aside">
            {{windowSide}}
        </div> -->
        <!-- <div class="window_main"> -->
            {{windowMain}}
        <!-- </div> -->
    </div>
    <!-- <div class="abs window_bottom">
        {{windowBottom}}
    </div> -->
</div>
<span class="abs ui-resizable-handle ui-resizable-se"></span>
