<div class="abs" id="wrapper">
    <div class="abs" id="bar_top">

    </div>


    <div class="abs" id="desktop">
        <div class="desktop-wrap">

        </div>
    </div>


    <div class="abs" id="bar_bottom">
        <div class="drawer-icon"><img src="images/icons/app_drawer.png" alt="Main Menu"></div>
        <div class="taskbar-dock">
            <div class="taskbar-icon active"><img src="images/icons/icon_32_computer.png" alt="Computer"></div>
            <div class="taskbar-icon"><img src="images/icons/icon_32_network.png" alt="Network"></div>
        </div>

    </div>
</div>